.upgrades {
  vertical-align: middle;
  /* height: 80vh;
    width: 100%; */
  grid-column: 1;
  grid-row: 2;
}

.upgrade {
  display: grid;
  grid-template-columns: 50% 50%;
}

.nes-btn {
  margin: 10px;
  font-size: 10px;
}

.upgrade .upgradeText {
  margin: auto;
  grid-column: 2;
  font-size: 10px;
}

.transparentb {
  background-color: rgba(8, 59, 2, 0.657);
}

.cash {
  margin: 15px 0px 15px;
  padding: 15px;
  font-size: 20px;
}
