.upgrades {
    vertical-align: middle;
    /* height: 80vh;
    width: 100%; */
    grid-column: 1;
    grid-row: 2;
}

.upgrade {
    display: grid;
    grid-template-columns: 50% 50%;
}

.upgrade .upgradeButton {
    grid-column: 1;
}

.upgrade .upgradeText {
    grid-column: 2;
}