.Game {
  text-align: center;
  margin: 10px 5%;
  height: 100%;
  display: grid;
  gap: 8px;
  grid-template-columns: 35% 65%;
  grid-template-rows: 10% 90%;
}

.grass {
  background: url(static/grass.jpg);
  color: white;
}

.green {
  background-color: lightgreen;
  color: green;
  border: 1px solid green;
}

.rounded {
  border-radius: 10px;
}
